<h1>Nom da Burger!</h1>

<h2>Prepped off der grill!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Already nommed!</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
      {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devoured!<br>
    <input type="radio" name="sleepy" value="0"> Ready for nommin'!
  </div>

  <button type="submit">Add Burger</button>
</form>
